$instagram-purple-violet: #8a3ab9;
$instagram-blue: #4c68d7;
$instagram-maroon: #cd486b;
$instagram-orange: #fbad50;
$instagram-yellow: #fccc63;
$instagram-red-violet: #bc2a8d;
$instagram-red-orange: #e95950;

$flipic-white: #fff;

// SessionForm
$login-tagline: #999;
$preloaded-form: #262626;
$links-font: #003569;
$session-form-submit: #3897f0;
$background-gray: #fafafa;
$timestamp-gray: #999;
$timestamp-visited: #003569;
$session-border-gray: #dbdbdb;

$search-bar-border: #dbdbdb;
$border-gray: #000;
