.header-group {
  background: $flipic-white;
  width: 100%;
  position: fixed;
  top: 0;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $sans-serif;
  font-weight: 100;
  border-bottom: 1px solid $instagram-maroon;
  box-sizing: border-box;
}

.nav-flipic-text {
  margin-left: 25%;
  font-size: 28px;
  font-weight: 100;
}

.icon-button {
  height: 40px;
  width: 40px;
}

.header-icon-container {
  display: flex;
  flex-direction: row;
  margin-right: 25%;
}

.heart:hover {
  color: red;
}

.header-icon {
  height: 40px;
  width: 40px;
}

.photo-form-button {
}

.fa-camera {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  color: $border-gray;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.header-button {
  color: $border-gray;
  border: 1px solid $border-gray;
  background: $flipic-white;
  height: 40px;
  max-width: 150px;
  padding: 10px;
  font-size: 14px;
  font-weight: 200;
  margin-left: 20px;
  border-radius: 2px;
  text-align: center;
}

.header_button:hover {
  color: $instagram-red-orange;
  background-color: $session-border-gray;
}
