body {
  background: $background-gray;
  font-family: $sans-serif;
  font-size: 18px;
}

.session-form-container {
  border: 1px solid $search-bar-border;
  background: white;
  padding: 5%;
  border-radius: 2px;
}

.flipic-text {
  font-size: 48px;
  font-family: $serif;
}

.session-form-tagline {
  color: $login-tagline;
}

.session-form-input {
  border: 1px solid $search-bar-border;
  border-radius: 3px;
  width: 80%;
  height: 30px;
  margin: 3px auto;
}

.session-form-submit {
  border-radius: 3px;
  background: $session-form-submit;
  color: $flipic-white;
  width: 80%;
  height: 30px;
  padding: 10px;
}
