.stream-container {
  margin-top:75px;
  background: $background-gray;
  padding-top: 40px;
}

.stream {
  background: $flipic-white;
  box-sizing: border-box;
  width: 60%;
  margin: 20px auto;
}

.photo-container {
  border: 1px solid $session-border-gray;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.photo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;

  align-self: flex-start;
}

.user-avatar-username {
  text-transform: lowercase;
  font-size: 15px;
}

.user-avatar > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.timestamp {
  align-self: center;
}
