.view-photo-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 1000px;
  margin: -30px auto;
  padding-top: 40px;
  overflow: hidden;
  padding-bottom: 0px;
  border: 0px solid $flipic-white;
}


.view-photo-content {
  display: flex;
  flex-direction: row;
}

.view-photo-image-container {
  margin-left: 30px;
}

.view-photo-image {
  height: 500px;
  width: 500px;
}

.view-photo-detail {
  max-width: 500px;
  padding: 0px;
}

.view-photo-user-avatar-container {}

.view-photo-photo-header {}


.view-photo-photo-info {}

.view-photo-photo-info > ul {
  height: 225px;
  // overflow: hidden;
}

.view-photo-comment-container {
  width: 100%;
}

.view-photo-comment-like-form {
  display: flex;
  flex-direction: row;
}

.view-photo-comment-like-form > like-button-container > img {
  width: 48px;
  height: 48px;
}
